body {
  background: #eee;
  font-family: Helvetica, Lato; }
  body h2 {
    font-weight: bolder; }
  body h3 {
    color: #ea6a2b;
    font-size: 14px;
    text-transform: uppercase; }
  body p {
    font-size: 12px;
    line-height: 21px; }
  body.dark {
    background: #333 url("../images/background/dark-background.jpg") no-repeat;
    background-size: cover; }

header .navbar-default {
  background: #fff;
  border: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); }
  header .navbar-default .navbar-toggle {
    border: none; }
    header .navbar-default .navbar-toggle:hover {
      background: none; }
  header .navbar-default .navbar-brand {
    padding: 0px; }
    header .navbar-default .navbar-brand img {
      width: 220px;
      margin-top: 5px; }
  header .navbar-default .navbar-nav.navbar-center {
    margin-left: 150px; }
    header .navbar-default .navbar-nav.navbar-center li a {
      text-transform: uppercase; }
      header .navbar-default .navbar-nav.navbar-center li a:after {
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        width: 0%;
        transition: width 1s;
        background: #ea6a2b;
        margin: 0 auto;
        left: 0px;
        bottom: 0px;
        right: 0px; }
      header .navbar-default .navbar-nav.navbar-center li a:hover:after {
        width: 100%; }
    header .navbar-default .navbar-nav.navbar-center li.active a:after {
      width: 100%; }
  header .navbar-default .navbar-nav .active a {
    background: none; }
    header .navbar-default .navbar-nav .active a:hover {
      background: none; }
  header .navbar-default .navbar-nav.navbar-right li a {
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px; }
  header .navbar-default .navbar-nav.navbar-right li img {
    width: 23px; }
  header .navbar-default .navbar-nav.navbar-right li:last-child a {
    margin-left: 8px;
    padding-left: 10px;
    padding-top: 3px;
    margin-top: 12px;
    border-left: 1px solid rgba(0, 0, 0, 0.2); }
  header .navbar-default .navbar-nav.navbar-right li:nth-child(2) img {
    width: 30px;
    margin-top: -3px; }
  header .navbar-default .navbar-nav.navbar-right li:nth-child(3) {
    position: relative; }
  header .navbar-default .navbar-nav.navbar-right li:nth-child(4) {
    position: relative; }
  header .navbar-default .navbar-nav.navbar-right li .badge {
    position: absolute;
    top: 12px;
    right: 4px;
    background: #d0021b;
    font-size: 10px;
    font-weight: 100;
    width: 15px;
    height: 15px;
    padding: 0px;
    padding-top: 2px;
    border-radius: 50px; }

header.dark .navbar-default {
  background: rgba(255, 255, 255, 0.06); }
  header.dark .navbar-default .navbar-nav.navbar-center li a {
    color: rgba(255, 255, 255, 0.8); }
  header.dark .navbar-default .navbar-nav.navbar-right li:last-child a {
    margin-left: 8px;
    padding-left: 10px;
    padding-top: 3px;
    margin-top: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.2); }

section {
  /******************************Stats Section******************************/
  /**********************************Section 2****************************/
  /***********************************************************************/ }
  section.stats .stat-container {
    background: #fff;
    border-radius: 8px;
    padding: 15px 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); }
    section.stats .stat-container .stat-box {
      padding: 5px 15px;
      padding-right: 35px;
      border-right: 1px solid rgba(0, 0, 0, 0.15); }
      section.stats .stat-container .stat-box .stat-text {
        float: left; }
        section.stats .stat-container .stat-box .stat-text h2 {
          color: #ea6a2b;
          margin-top: 0px; }
        section.stats .stat-container .stat-box .stat-text p {
          text-transform: uppercase;
          margin-top: -10px;
          margin-bottom: 0px; }
      section.stats .stat-container .stat-box img {
        float: right;
        margin-top: 3px; }
      section.stats .stat-container .stat-box:last-child {
        border-right: 0px; }
      section.stats .stat-container .stat-box:nth-child(2) img {
        margin-top: 20px; }
  section.section-two-container {
    margin-top: 10px; }
    section.section-two-container .insight-type-cont {
      padding-right: 30px; }
      section.section-two-container .insight-type-cont .insight-type-box, section.section-two-container .insight-type-cont .compliance-box, section.section-two-container .insight-type-cont .security-box {
        height: 290px;
        padding: 0px 10px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); }
        section.section-two-container .insight-type-cont .insight-type-box .col-md-6:last-child, section.section-two-container .insight-type-cont .compliance-box .col-md-6:last-child, section.section-two-container .insight-type-cont .security-box .col-md-6:last-child {
          margin-top: 45px; }
      section.section-two-container .insight-type-cont .compliance-box img, section.section-two-container .insight-type-cont .security-box img {
        margin-top: 30px; }
      section.section-two-container .insight-type-cont .security-box {
        text-align: center; }
        section.section-two-container .insight-type-cont .security-box h3 {
          text-align: left; }
        section.section-two-container .insight-type-cont .security-box img {
          display: inline-block;
          margin-top: 30px;
          margin-bottom: 30px; }
        section.section-two-container .insight-type-cont .security-box .security-chart-content {
          position: relative; }
          section.section-two-container .insight-type-cont .security-box .security-chart-content .chart-text {
            margin-bottom: 2px;
            font-size: 10px;
            text-transform: uppercase; }
          section.section-two-container .insight-type-cont .security-box .security-chart-content .secret, section.section-two-container section.dark .insight-type-cont .security-box .security-chart-content .sensitive, section.dark section.section-two-container .insight-type-cont .security-box .security-chart-content .sensitive, section.section-two-container section.dark .insight-type-cont .security-box .security-chart-content .public, section.dark section.section-two-container .insight-type-cont .security-box .security-chart-content .public {
            position: absolute;
            top: 0px;
            right: 30px; }
            section.section-two-container .insight-type-cont .security-box .security-chart-content .secret div, section.section-two-container section.dark .insight-type-cont .security-box .security-chart-content .sensitive div, section.dark section.section-two-container .insight-type-cont .security-box .security-chart-content .sensitive div, section.section-two-container section.dark .insight-type-cont .security-box .security-chart-content .public div, section.dark section.section-two-container .insight-type-cont .security-box .security-chart-content .public div {
              width: 39px;
              height: 25px;
              transform: skewX(-219deg);
              border: 1px solid rgba(0, 0, 0, 0.15);
              border-right: 0px;
              border-bottom: 0px;
              margin-left: -10px; }
          section.section-two-container .insight-type-cont .security-box .security-chart-content .sensitive {
            position: absolute;
            top: 20px;
            left: 30px; }
            section.section-two-container .insight-type-cont .security-box .security-chart-content .sensitive .chart-text {
              margin-bottom: 2px;
              margin-left: -35px; }
            section.section-two-container .insight-type-cont .security-box .security-chart-content .sensitive div {
              width: 59px;
              height: 20px;
              transform: skewX(219deg);
              border: 1px solid rgba(0, 0, 0, 0.15);
              border-left: 0px;
              border-bottom: 0px;
              margin-left: -19px; }
          section.section-two-container .insight-type-cont .security-box .security-chart-content .public {
            position: absolute;
            bottom: 21px;
            right: 30px; }
            section.section-two-container .insight-type-cont .security-box .security-chart-content .public .chart-text {
              margin-bottom: 2px;
              margin-left: 0px; }
            section.section-two-container .insight-type-cont .security-box .security-chart-content .public div {
              width: 59px;
              height: 20px;
              transform: skewX(219deg);
              border: 1px solid rgba(0, 0, 0, 0.15);
              border-right: 0px;
              border-top: 0px;
              margin-top: -20px;
              margin-left: -19px; }
      section.section-two-container .insight-type-cont:last-child {
        padding-right: 15px; }
  section.table-section .table-container {
    background: #fff;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 3px; }
    section.table-section .table-container h3 {
      margin-left: 15px; }
    section.table-section .table-container .table {
      margin-bottom: 0px; }
      section.table-section .table-container .table thead {
        margin: 0px 13px; }
        section.table-section .table-container .table thead tr {
          background: #666;
          padding-left: 25px; }
          section.table-section .table-container .table thead tr th {
            font-weight: 100;
            color: rgba(255, 255, 255, 0.8);
            border-bottom: 0px;
            padding-left: 20px; }
      section.table-section .table-container .table tbody tr td {
        padding: 13px;
        padding-left: 20px;
        font-size: 12px;
        margin: -3px; }
  section.reports {
    padding-top: 20px; }
    section.reports .yellow-box {
      background: #fbb03b;
      padding: 10px 15px;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
      margin-bottom: 10px;
      border-radius: 8px; }
      section.reports .yellow-box h3 {
        color: #000;
        margin-top: 5px; }
    section.reports .lorem-cont {
      padding: 0px 10px;
      margin-bottom: 10px; }
      section.reports .lorem-cont .lorem-box {
        padding: 15px 10px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); }
        section.reports .lorem-cont .lorem-box h3 {
          margin-bottom: 30px;
          float: left;
          margin-top: 10px; }
        section.reports .lorem-cont .lorem-box .globe {
          float: right;
          margin-top: 5px; }
        section.reports .lorem-cont .lorem-box .footer {
          margin-top: 30px; }
          section.reports .lorem-cont .lorem-box .footer .date {
            float: left; }
          section.reports .lorem-cont .lorem-box .footer small {
            margin-left: 10px; }
          section.reports .lorem-cont .lorem-box .footer .eye {
            float: right; }
        section.reports .lorem-cont .lorem-box p {
          clear: both; }
          section.reports .lorem-cont .lorem-box p:last-child {
            margin-bottom: 30px; }
  section.dark .stat-container {
    background: rgba(255, 255, 255, 0.05);
    color: #fff; }
    section.dark .stat-container .stat-box {
      border-right-color: rgba(255, 255, 255, 0.35); }
      section.dark .stat-container .stat-box .stat-text h2 {
        color: #fff !important; }
  section.dark .insight-type-cont .insight-type-box, section.dark .insight-type-cont .compliance-box, section.dark .insight-type-cont .security-box {
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.6); }
  section.dark .insight-type-cont .security-box .security-chart-content .secret div, section.dark .insight-type-cont .security-box .security-chart-content .sensitive div, section.dark .insight-type-cont .security-box .security-chart-content .public div {
    border-color: rgba(255, 255, 255, 0.25); }
  section.dark.table-section .table-container {
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.6); }
    section.dark.table-section .table-container .table thead tr {
      background: rgba(102, 102, 102, 0.6); }
    section.dark.table-section .table-container .table tbody tr td {
      border-color: rgba(255, 255, 255, 0.25); }
  section.dark.reports {
    color: rgba(255, 255, 255, 0.6); }
    section.dark.reports .yellow-box {
      color: #333; }
    section.dark.reports .lorem-cont .lorem-box {
      background: rgba(255, 255, 255, 0.05); }

footer {
  margin-top: 20px;
  text-align: center; }
  footer p {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.4); }
  footer.dark p {
    color: rgba(255, 255, 255, 0.4); }

/*****************************Media Queries************************/
@media (max-width: 768px) {
  header .navbar-default .navbar-brand img {
    width: 183px; }
  header .navbar-default .navbar-nav.navbar-center {
    margin-left: 58px; }
  header .navbar-default .navbar-nav.navbar-right {
    display: none; }
  section.section-two-container .insight-type-cont {
    padding-right: 15px; }
    section.section-two-container .insight-type-cont:nth-child(2) {
      padding-right: 20px; }
    section.section-two-container .insight-type-cont .compliance-box, section.section-two-container .insight-type-cont .security-box {
      margin-top: 10px; } }

@media (max-width: 480px) {
  .clear {
    clear: both; }
  header .navbar-nav.navbar-center {
    margin-left: 0px !important; }
    header .navbar-nav.navbar-center li a {
      text-align: center; }
      header .navbar-nav.navbar-center li a:hover {
        color: #ea6a2b; }
        header .navbar-nav.navbar-center li a:hover:after {
          width: 0% !important; }
    header .navbar-nav.navbar-center li.active a {
      color: #ea6a2b; }
      header .navbar-nav.navbar-center li.active a:after {
        width: 0% !important; }
  header .navbar-nav.navbar-right {
    display: none; }
  section {
    padding: 0px 10px; }
    section.stats {
      text-align: center; }
      section.stats .stat-container .stat-box {
        margin-bottom: 30px;
        border: none;
        padding-right: 15px; }
        section.stats .stat-container .stat-box .stat-text {
          float: none; }
        section.stats .stat-container .stat-box img {
          float: none;
          margin-top: 10px;
          display: inline-block; }
    section.section-two-container .insight-type-cont:nth-child(2) {
      padding-right: 15px; }
    section.section-two-container .insight-type-cont .insight-type-box, section.section-two-container .insight-type-cont .compliance-box, section.section-two-container .insight-type-cont .security-box {
      height: auto;
      padding-bottom: 10px; } }
